<div class="row container-fluid" style="margin: auto">
  
  <div
    class="card ml-5 col-4 test"
    style="width: 20rem; margin: 10px"
    *ngFor="let card of cards | slice: 0:5"
  >

    <header class="card-title">{{ card.title }}</header>

    <img
      [src]="card.imgURL"
      class="card-img-top"
      alt="..."
      (click)="showData(card)" style="cursor: pointer;"
    />
    <div class="card-body">
      <p class="card-text">{{ card.description }}</p>
      <p class="card-text">{{ card.creator }}</p>
      <p class="card-text">{{ card.type }}</p>
      <p class="card-text">
        <span
          *ngFor="let tag of card.tags"
          class="badge bg-secondary"
          style="margin-left: 5px"
          >{{ tag }}</span
        >
      </p>
    </div>

  </div>
</div>
